#projects {
    height: max-content;
    width: 100%;
    max-width: 100vw;
    padding: 0vh 20vw;
    padding-top: 20vh;
  }
  #projects > h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
  }
  #projects > p {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.2em;
  }
  .project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .flip-card {
    background-color: transparent;
    perspective: 1000px;
    overflow: visible;
    border-radius: 10px;
    width: 250px;
    height: 300px;
    margin: auto;
  }
  
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  .flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-style: preserve-3d;
    border-radius: 10px;
    overflow: hidden;
  }
  
  /* Style the back side */
  .flip-card-back {
    position: relative;
    background:rgba(31, 31, 31, 0.2);
    color: white;
    transform: rotateY(180deg);
  }
  .flip-card-back > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-style: preserve-3d;
    border-radius: 10px;
    z-index: -10;
    opacity: 0.2;
    overflow: hidden;

  }
  .flip-card-back > .text-back {
    padding: 1rem;
  }
  .text-back > h1 {
    font-size: 1rem;
    font-weight: var(--weight-semibold);
    margin-bottom: 0.5rem;
    color: var(--text-color);
  }
  .text-back > p {
    font-size: 0.8rem;
    color: var(--text-color);
  }
  .text-back > a {
    position: fixed;
    bottom: 1rem;
    left: 40%;
    font-size: 0.8rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: var(--weight-semibold);
    transition: 0.3s ease-in-out;
    text-align: center;
  }

