#hero {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  height: 100%;
  margin-top: 2rem;
  
}
/* Header Container */
.header-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin-top: 8rem;
  padding-bottom: 4rem;
}
.hero-profile {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 6rem;
}
.popRight {
  animation: popRight 1.2s forwards !important;
}
@keyframes popRight {
  from {
    scale: 0;
    opacity: 0;
    transform: translateX(100vw);
  }

  to {
    scale: 1;
    opacity: 1;
    transform: translateX(0);
  }
}

.header-container > div {
  margin-top: 1rem;
}

.content-text {
  width: 40%;
  text-align: start;
  margin: 1.5rem 0;
  transform: translateX(-100vw);
}
.popLeft {
  animation: popLeft 0.8s forwards !important;
}
@keyframes popLeft {
  from {
    scale: 0;
    opacity: 0;
    transform: translateX(-100vw);
  }

  to {
    scale: 1;
    opacity: 1;
    transform: translateX(0);
  }
}
.content-text h2 {
  font-size: 2rem;
  line-height: 1.2;
}
.content-text > h3 {
  font-size: 1.2rem;
  line-height: 1.2;
  margin: 1.5rem 0 0 0;
}

.content-text p {
  font-size: 1.2rem;
  padding: 0rem;
  margin: 1rem 0 0 0;
  max-width: 700px;
}
.profile > h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.profile > img {
  width: 350px;
  border-radius: 50%;
  animation: bounce 1s infinite alternate;
  box-shadow: 0 5px 10px var(--bg-secondary);
  margin-bottom: 1rem;
}

@media (max-width: 688px) {
  .profile > img {
    width: 250px;
  }
  .header-container {
    margin-top: 2rem;
  }
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-10px);
  }
}

.btn-container {
  display: flex;
  max-width: 80%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  gap: 10rem;
}

.btn-container > .btn {
  margin-top: 1rem;
  scale: 1.5;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  color: var(--text-color-two);
}
.btn-container > .btn:hover {
  scale: 1.8;
  transition: 0.2s ease-in-out;
}


.techIcons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 5rem auto;
  font-size: 5em;
  animation: popUp 3s forwards !important;
}
.techIcons > div > i {
  box-shadow: 0 5px 10px var(--bg-secondary);
  border-radius: 50%;
  padding: 1rem;
}
.techIcons > div > p {
  font-size: 1.2rem;
  margin-top: 1rem;
  text-align: center;
}

.techIcons > div:hover {
  scale: 1.2;
  transition: 0.2s ease-in-out;
}

.popUp {
  animation: popUp 1.5s forwards !important;
}
@keyframes popUp {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@media (max-width: 600px) {
  .hero-profile {
    display: block;
    height: 80%;
  }
  #connect-btn {
    height: 20%;
  }
  .content-text {
    width: 100%;
    padding: 1rem;
  }

  .header-container .btn {
    border-radius: 5px;
    width: 80%;
  }

  .btn-container {
    gap: 3rem;
  }
  
}
