.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    width: 100vw;
    max-width: 100vw;
    background: var(--bg-primary);

    box-shadow: var(--shadow);
  }
  
  .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
    height: 50px;
    width: 100%;
    max-width: 100vw;

  }
  
  .navbar .nav-menu {
    display: flex;
    align-items: center;
    background: var(--bg-primary);
  }
  
  .navbar .nav-link {
    margin: 0 1rem;
    font-size: 0.8rem;
    font-weight: var(--weight-semibold);
  }
  
  .navbar #logo img {
    display: block;
    width: 45px;
    color: var(--text-color);
    background-color: #ffffff;
    border-radius: 50%;
    padding: 5px;
  }
  
  .navbar .btn {
    margin-right: 1.5rem;
  }
  #resume {
    height: 25px;
    transform: translateY(0.2rem);
  }
  #resume > span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    text-align: center;
    line-height: 2px;
    margin: 0;
    transform: translateY(-0.5rem);
  }
  #resume > span > img {
    width: 15px;
    margin-left: 0.6em;
    animation: arrow-bounce 0.5s infinite alternate;
  }
  #resume:hover {
    cursor: pointer;
  }
  @keyframes arrow-bounce {
    from {
      transform: translateX(0px);
    }
  
    to {
      transform: translateX(5px);
    }
  }
  /* Modal Content */
  #modal {
    position: fixed;
    top: 5vh;
    left: 5vw;
    padding: 1rem;
    width: 90vw;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    border: #565656 1px solid;
    border-radius: 5px;
  }


  #modal-content {
    width: 100%;
    max-width: 1080px;
    height: 90vh;
    background-color: var(--bg-primary);
    padding: 2rem;
    border-radius: 5px;
    position: relative;
  }
  .embedPDF {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
  }
  #close-modal{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--text-color);
  }
  /* CV content */
  #modal-content > h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  #modal-content > span {
    display: flex;
    font-size: 0.6rem;
    justify-content: center;
    margin-top: -20px;
  }
  #CV > p {
    text-align: justify;
    font-size: 0.6rem;
  }
  
  /* hamburger */
  .hamburger {
    margin-bottom: 0.1rem;
    display: none;
  }
  
  .bar {
    display: block;
    width: 23px;
    height: 3px;
    margin: 4px auto;
    transition: all 0.3s ease-in-out;
    border-radius: 30px;
    background-color: var(--bg-secondary);
  }

  @media (max-width: 688px) {
    .navbar {
        position: relative;
    }
    .navbar .nav-menu {
      display: none;
      position: absolute;
      right: 20px;
      top: 5rem;
      flex-direction: column;
      width: calc(80% - 10px);
      transition: 0.3s;
      box-shadow: var(--shadow);
      padding: 2rem;
      border-radius: 5px;
      align-items: flex-start;
      opacity: 0.1;
      transition: ease-in-out 0.8s;

    }
  
    .navbar .btn {
      margin: 0;
      margin-top: 1rem;
    }
  
    .nav-menu.active {
      transition: ease-in-out 0.8s;
      display: flex;
      right: 20px;
      opacity: 1;
    }
  
    .nav-menu .nav-link {
      font-size: 0.9rem;
      margin: 0 0.2rem;
    }
  
    .nav-menu li {
      margin-bottom: 0.5rem;
      width: 100%;
    }
  
    .nav-menu .btn {
      width: 100%;
      text-align: center;
      margin-top: 0.5rem;
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
      padding: 0.2rem 0.4rem;
    }
  
    .hamburger.active {
      border: 1px dotted gray;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(6px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    .content-text {
      width: 90%;
      padding: 1rem;
    }
  }