#contact {
  padding: 25vh 0 0 0;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  background: var(--bg-primary);
}
.contact-form {
  width: 100%;
  max-width: 1080px;
  background: var(--bg-primary);
  border-radius: 10px;
  padding: 2rem 1rem;
  box-shadow: 0 5px 10px var(--bg-secondary);
}
.contact-form .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-form .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details {
  margin: 14px;
  text-align: center;
}
.content .left-side .details i {
  font-size: 30px;
  color: var(--text-color);
  margin-bottom: 10px;
}
.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: var(--text-color);
}
.contact-form .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: var(--text-color);
}
.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
  box-shadow: #afafb6;
  border: 1px solid gray;
}
.right-side .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  padding-top: 6px;
  box-shadow: #afafb6;
  border: 1px solid gray;
}
.right-side .button {
  display: inline-block;
  margin-top: 0.2rem;
}
.right-side #buttonSubmit {
  color: var(--text-color-two);
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  margin-top: 1rem;
  border-radius: 6px;
  background: var(--bg-secondary);
  cursor: pointer;
  transition: all 0.3s ease;
}
#buttonSubmit:hover {
  background: var(--text-color);
  box-shadow: var(--shadow);
}

.success {
  background-color: green !important;
  color: white !important;
}

.error {
  background-color: red !important;
}
.contact.form {
  width: 90%;
  padding: 30px 40px 40px 35px;
}
.contact.form .content .right-side {
  width: 75%;
  margin-left: 55px;
}

@media (max-width: 688px) {
    .contact-form {
      margin: 40px 0;
      height: 100%;
    }
    .contact-form .content {
      flex-direction: column-reverse;
    }
    .contact-form .content .left-side {
      width: 100%;
      flex-direction: row;
      margin-top: 40px;
      justify-content: center;
      flex-wrap: wrap;
    }
    .contact-form .content .left-side::before {
      display: none;
    }
    .contact-form .content .right-side {
      width: 100%;
      margin-left: 0;
    }
   
  }